s-lang
a.out
examples/brainfuck
examples/empty
examples/example
examples/factorial
examples/fibonacci
examples/fizzbuzz
examples/functions
examples/return
examples/string
examples/while
examples/*.s
examples/types
examples/cat

examples/primes
examples/life
