s-lang
a.out
examples/brainfuck
examples/empty
examples/example
examples/exit
examples/factorial
examples/fibonacci
examples/fizzbuzz
examples/functions
examples/string
examples/while
examples/*.s
examples/types
examples/cat

examples/primes
examples/life
examples/num2hex
