#
# Get the number of command-line arguments.
#
# These were saved away as part of our startup-code,
# as found in `header.tmpl`.
#

.section .text.args,"ax",@progbits

argc:
        push rbp
        mov rbp, rsp
        mov rax, [argument_count]
        sal rax, 2
        mov rsp, rbp
        pop rbp
        ret

