#
# Get access to the Nth command-line argument.
#
# The pointer to the start of the arguments-array
# was saved away as part of the startup code, as
# found in `header.tmpl`.
#

.section .text.argv,"ax",@progbits

argv:
        push rbp
        mov  rbp, rsp

        mov  rax, [rbp+16]          # tagged integer index

        mov  rcx, rax               # type check
        and  rcx, 3
        cmp  rcx, 0
        jne  argv_type_fail

        sar  rax, 2                 # untag index

        # compare against the count of values
        cmp rax, [argument_count]
        jge argv_too_big

        mov  rdi, [argument_base]   # start where our arguments do
        mov  rax, [rdi + rax * 8]   # rax = char *

        #
        # Save source string pointer.
        #
        push rax

        #
        # Get string length.
        #
        mov  rdi, rax
        call strlen_raw

        #
        # Increase size by one to add NUL terminator.
        #
        inc  rax

        #
        # malloc expects a tagged integer size.
        #
        sal  rax, 2
        push rax          # stack argument
        mov rax, 1        # one argument
        call mmap
        add rsp, 8
        and  rax, -4                # untag malloc result

        #
        # Recover source pointer.
        #
        pop  rdi                    # source

        #
        # Preserve allocation for return.
        #
        push rax

        mov  rsi, rax               # destination
        call strcpy_raw

        #
        # Return tagged pointer.
        #
        pop  rax
        or   rax, 1
.argv_cleanup:
        mov rsp, rbp
        pop rbp
        ret


argv_too_big:
        mov rax, offset argv_too_big_msg
        or rax, 1
        jmp .argv_cleanup
argv_type_fail:
        mov rax, offset argv_type_fail_msg
        or rax, 1
        jmp .argv_cleanup

.section .data.argv,"aw",@progbits

.align 8
argv_type_fail_msg:
        .ascii "argv: expected INT"
        .byte 00

.align 8
argv_too_big_msg:
        .ascii "argv: out of range"
        .byte 00
