#
# Implementation of our mathematical comparison operations
#
# These have to cope with different operand types:
#
#    INT   op INT
#    INT   op FLOAT
#    FLOAT op INT
#    FLOAT op FLOAT
#
# In all cases the arguments will be stored in RAX and RBX.
#


.section .text.compare_lt,"ax",@progbits

## <
less_than:
        call greater_equals
        xor rax, 4
        ret