#
# Exit the process with the status code stored in RAX
#
# NOTE
#######
#
# This is unlike all other internal functions,
# which use the stack for parameters and RAX
# for the argument count.
#
# This is because we compile "return; " statements
# specially.  If the user were to write "exit(33);"
# that would actually exit, but with the wrong
# value.  (RAX would be 1 for the argument count,
# and shifting that would result in an exit code of zero).
#

.section .text.exit,"ax",@progbits

exit:
        sar rax, 2  # undo typing
        mov rdi, rax
        mov rax, 60     # sys_exit
        syscall
        ret
