#
# getat( "String", 3 );  -> "r"
#

.section .text.getat,"ax",@progbits

getat:
        push rbp
        mov rbp, rsp
        mov rdi, [rbp+16]    # get the string
        and rdi, -2          # Undo typing
        mov rbx, [rbp+24]    # get the integer
        sar rbx, 2           # remove tag bits

        mov al, [rdi + rbx]  # get the byte
        movzx rax, al        # extend
        sal rax, 2           # add type-bits
        mov rsp, rbp
        pop rbp
        ret
