#
# getc - Read a single character from STDIN, and return it.
#


.section .text.getc,"ax",@progbits

getc:
        push rbp
        mov rbp, rsp

        mov     rax, 0                   # SYS_read
        mov     rdi, 0                   # STDIN_FILENO
        mov     rsi, offset getc_buffer  # buffer
        mov     rdx, 1                   # read exactly 1 byte
        syscall

        cmp rax, 1  # success?
        jne getc_failed

        mov al, [getc_buffer]
        movsx rax, al
        sal rax, 2
        jmp getc_cleanup

getc_failed:
        # RAX contains the failure code
        #  0 == EOF
        # <0 == Error code
        #
        sal rax, 2

getc_cleanup:
        pop rbp
        ret

.section .bss.getc,"aw",@nobits

getc_buffer: .byte 0x00

