# getenv - return the contents of an environmental
#          variable.
#
# Input: string name.
#
# Output: malloc'd string with result, or zero.
#


#
# Look up an environment variable and return a
# newly allocated copy of its value.
#

.section .text.getenv,"ax",@progbits

getenv:
        push rbp
        mov  rbp, rsp

        mov  rbx, [envp_ptr]        # environment array
        mov  rdx, [rbp+16]          # tagged variable name

        #
        # Type check
        #
        mov  rcx, rdx
        and  rcx, 3
        cmp  rcx, 1
        jne  getenv_type_fail

        and  rdx, -4               # untag name

.env_loop:
        mov  rsi, [rbx]            # "NAME=VALUE"

        test rsi, rsi
        jz   .getenv_not_found

        mov  r9, rdx              # target name

.getenv_compare_loop:
        mov  al, [rsi]
        mov  cl, [r9]

        cmp  cl, 0
        je   .getenv_check_equal

        test al, al
        jz   .getenv_next_env

        cmp  al, cl
        jne  .getenv_next_env

        inc  rsi
        inc  r9
        jmp  .getenv_compare_loop

.getenv_check_equal:
        cmp  byte ptr [rsi], '='
        jne  .getenv_next_env

        #
        # RSI currently points at '='
        # Advance to VALUE.
        #
        inc  rsi

        #
        # Save VALUE pointer.
        #
        push rsi

        #
        # Determine VALUE length.
        #
        mov  rdi, rsi
        call strlen_raw

        #
        # Include terminator.
        #
        inc  rax

        #
        # malloc expects tagged size.
        #
        sal  rax, 2

        push rax
        call malloc
        add  rsp, 8

        test rax, rax
        jz   .getenv_malloc_fail

        and  rax, -4

        #
        # Recover VALUE pointer.
        #
        pop  rdi                  # source

        #
        # Preserve allocation base.
        #
        push rax

        mov  rsi, rax             # destination
        call strcpy_raw

        #
        # Return tagged pointer.
        #
        pop  rax
        or   rax, 1
        jmp  .getenv_cleanup

.getenv_next_env:
        add  rbx, 8
        jmp  .env_loop

.getenv_malloc_fail:
        add  rsp, 8               # discard saved VALUE pointer
        xor  rax, rax
        jmp  .getenv_cleanup

.getenv_not_found:
        xor  rax, rax

.getenv_cleanup:
        mov  rsp, rbp
        pop  rbp
        ret


getenv_type_fail:
        mov  rax, offset getenv_type_fail_msg
        or   rax, 1
        jmp  .getenv_cleanup


.section .data.getenv,"aw",@progbits

.align 8
getenv_type_fail_msg:
        .ascii "getenv: expected STRING"
        .byte 0