#
# Our memory allocation
#
#
# NOTE
#######
#
# This routine is almost always going to be called, and can never
# be eliminated.
#
# We need to call the init_heap function on startup, just in case
# there is some memory allocation happening.
#
.section .text.heap,"ax",@progbits

init_heap:
        mov rax, 12
        xor rdi, rdi
        syscall

        mov [rip + heap_ptr], rax
        ret


.section .text.alloc,"ax",@progbits

alloc8:
        push rbx
        mov rax, [rip + heap_ptr]   # rax = old ptr (allocation start)

        mov rbx, rax
        add rbx, 8            # rbx = new heap end

        mov rdi, rbx
        mov r10, rax          # preserve allocation start

        mov rax, 12
        syscall

        # verify brk success
        cmp rax, rcx
        jb .malloc_fail

        mov [rip + heap_ptr], rax

        mov rax, r10          # return allocation start
        pop rbx
        ret


.section .text.malloc,"ax",@progbits

malloc:
    push rbp
    mov rbp, rsp
    push rbx
    push r12

    mov rbx, [rbp+16]
    sar rbx, 2

    # align to 8 bytes
    add rbx, 7
    and rbx, -8

    mov r12, [rip + heap_ptr]    # allocation start

    mov rcx, r12
    add rcx, rbx           # desired new brk

    mov rdi, rcx
    mov rax, 12
    syscall

    # verify brk success
    cmp rax, rcx
    jb .malloc_fail

    mov [rip + heap_ptr], rax

    mov rax, r12
    or rax, 1

    jmp .malloc_done

.malloc_fail:
    mov rax, offset malloc_fail_msg
    call print_string_raw
    xor rax, rax

.malloc_done:
    pop r12
    pop rbx
    mov rsp, rbp
    pop rbp
    ret

.section .data.heap,"aw",@progbits

.align 8
heap_ptr:
        .quad 0

.align 8
malloc_fail_msg:
        .ascii "brk failed\n"
        .byte 00

