#
# Our memory allocation
#
#
# NOTE
#######
#
# This routine is almost always going to be called, and can never
# be eliminated.
#
# We need to call the init_heap function on startup, just in case
# there is some memory allocation happening.
#

##
## Note on malloc - each allocated region of memory is prefixed
## with the size of the allocation.
##
## So malloc(10) becomes malloc(16) and the storage is:
##
##   ram:  size (10)
##   ptr:  returned to caller
##

.section .text.heap,"ax",@progbits

init_heap:
        mov rax, 12
        xor rdi, rdi
        syscall

        mov [rip + heap_ptr], rax
        ret


.section .text.alloc,"ax",@progbits


#
# Allocate eight bytes, and return the pointer to that allocation
#
# NOTE: This does not return a typed pointer (we remove the typing
# so that it may be used immediately).
#
alloc8:
        mov rax, 8     # eight bytes
        sal rax, 2     # shift left to add typing
        push rax
        call malloc    # Allocate the memory
        add rsp, 8
        and rax, -4    # Remove typing
        ret


.section .text.malloc,"ax",@progbits

malloc:
    push rbp
    mov rbp, rsp
    push rbx
    push r12
    push r13

    mov rbx, [rbp+16]
    sar rbx, 2                 # requested size

    mov r13, rbx               # save original size

    # add space for size header
    add rbx, 8

    # align total allocation to 8 bytes
    add rbx, 7
    and rbx, -8

    mov r12, [rip + heap_ptr]  # allocation start

    mov rcx, r12
    add rcx, rbx               # desired new brk

    mov rdi, rcx
    mov rax, 12                # sys_brk
    syscall

    # verify brk success
    cmp rax, rcx
    jb .malloc_fail

    mov [rip + heap_ptr], rax

    # store requested size at start of block
    mov [r12], r13

    # return pointer to user data
    lea rax, [r12 + 8]
    or rax, 1

    jmp .malloc_done

.malloc_fail:
    mov rax, offset malloc_fail_msg
    call panic_raw

.malloc_done:
    pop r13
    pop r12
    pop rbx
    mov rsp, rbp
    pop rbp
    ret


.section .data.heap,"aw",@progbits

.align 8
heap_ptr:
        .quad 0

.align 8
malloc_fail_msg:
        .ascii "malloc() failed!\nTerminating!\n"
        .byte 00
