#
# Our memory allocation
#
#
# NOTE
#######
#
# This routine is almost always going to be called, and can never
# be eliminated.
#
# We need to call the init_heap function on startup, just in case
# there is some memory allocation happening.
#
.section .text.heap,"ax",@progbits

init_heap:

.ifdef TRACE_ALLOCATIONS
        push rax
        push rbx
        push rcx
        push rbp
          mov rax, offset init_heap_msg
          or rax, 1   # tagged as a string
          call print_string
        pop rbp
        pop rcx
        pop rbx
        pop rax
.endif

        mov rax, 12
        xor rdi, rdi
        syscall

        mov [heap_ptr], rax
        ret


.section .text.alloc,"ax",@progbits

alloc8:
.ifdef TRACE_ALLOCATIONS
        push rax
        push rbx
        push rcx
        push rbp
          mov rax, offset alloc8_msg
          or rax, 1   # tagged as a string
          call print_string
        pop rbp
        pop rcx
        pop rbx
        pop rax
.endif
        push rbx
        mov rax, [heap_ptr]   # rax = old ptr (allocation start)

        mov rbx, rax
        add rbx, 8            # rbx = new heap end

        mov rdi, rbx
        mov r10, rax          # preserve allocation start

        mov rax, 12
        syscall

        mov [heap_ptr], rbx

        mov rax, r10          # return allocation start
        pop rbx
        ret


.section .data.heap,"aw",@progbits

heap_ptr:
        .quad 0

.ifdef TRACE_ALLOCATIONS

init_heap_msg:
        .ascii "init heap\n"
        .byte 00
alloc8_msg:
        .ascii "allocated memory\n"
        .byte 00
.endif
