#
# Implementation of our mathematical operations: plus
#
# This has to cope with different operand types:
#
#    INT   op INT
#    INT   op FLOAT
#    FLOAT op INT
#    FLOAT op FLOAT
#
# In all cases the arguments will be stored in RAX and RBX
#


.section .text.plus,"ax",@progbits

plus:
        # Check tags
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .plus_float

        # integer fast path
        sar rax, 2
        sar rbx, 2
        add rax, rbx
        sal rax, 2
        jmp .plus_done

.plus_float:

        # Convert RAX -> XMM0
        mov rcx, rax
        and rcx, 3
        cmp rcx, 0
        je .plus_rax_int

        and rax, -4
        movsd xmm0, [rax]
        jmp .plus_rax_done

.plus_rax_int:
        sar rax, 2
        cvtsi2sd xmm0, rax

.plus_rax_done:

        # Convert RBX -> XMM1
        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .plus_rbx_int

        and rbx, -4
        movsd xmm1, [rbx]
        jmp .plus_rbx_done

.plus_rbx_int:
        sar rbx, 2
        cvtsi2sd xmm1, rbx

.plus_rbx_done:
        # Add
        addsd xmm0, xmm1

        call alloc8
        movsd [rax], xmm0
        or rax, 2

.plus_done:
        ret
