#
# Implementation of our mathematical operations.
#
# These have to cope with different operand types,
#
#    INT   op INT
#    INT   op FLOAT
#    FLOAT op INT
#    FLOAT op FLOAT
#
# In all cases the arguments will be stored in RAX and RBX
#


.section .text.maths,"ax",@progbits

plus:
        # Check tags
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .plus_float

        # integer fast path
        sar rax, 2
        sar rbx, 2
        add rax, rbx
        sal rax, 2
        jmp .plus_done

.plus_float:

        # Convert RAX -> XMM0
        mov rcx, rax
        and rcx, 3
        cmp rcx, 0
        je .plus_rax_int

        and rax, -4
        movsd xmm0, [rax]
        jmp .plus_rax_done

.plus_rax_int:
        sar rax, 2
        cvtsi2sd xmm0, rax

.plus_rax_done:

        # Convert RBX -> XMM1
        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .plus_rbx_int

        and rbx, -4
        movsd xmm1, [rbx]
        jmp .plus_rbx_done

.plus_rbx_int:
        sar rbx, 2
        cvtsi2sd xmm1, rbx

.plus_rbx_done:
        # Add
        addsd xmm0, xmm1

        call alloc8
        movsd [rax], xmm0
        or rax, 2

.plus_done:
        ret


minus:
        # Fast int path
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .minus_float

        # fast path, two ints
        sar rax, 2
        sar rbx, 2

        sub rbx, rax
        mov rax, rbx

        sal rax, 2
        jmp .minus_done

.minus_float:

        # Convert operands
        # xmm0 = rbx
        # xmm1 = rax

        # RBX -> xmm0
        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .minus_rbx_int

        and rbx, -4
        movsd xmm0, [rbx]
        jmp .minus_rbx_done

.minus_rbx_int:
       sar rbx, 2
       cvtsi2sd xmm0, rbx

.minus_rbx_done:

       # RAX -> xmm1
       mov rcx, rax
       and rcx, 3
       cmp rcx, 0
       je .minus_rax_int

       and rax, -4
       movsd xmm1, [rax]
       jmp .minus_rax_done

.minus_rax_int:
       sar rax, 2
       cvtsi2sd xmm1, rax

.minus_rax_done:
       subsd xmm0, xmm1

       call alloc8
       movsd [rax], xmm0
       or rax, 2

.minus_done:
       ret



multiply:
        # Fast int path
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .multiply_float

        # fast path, two ints
        sar rax, 2
        sar rbx, 2

        imul rbx, rax
        mov rax, rbx

        sal rax, 2
        jmp .multiply_done

.multiply_float:

        # Convert operands
        # xmm0 = rbx
        # xmm1 = rax

        # RBX -> xmm0
        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .multiply_rbx_int

        and rbx, -4
        movsd xmm0, [rbx]
        jmp .multiply_rbx_done

.multiply_rbx_int:
       sar rbx, 2
       cvtsi2sd xmm0, rbx

.multiply_rbx_done:

       # RAX -> xmm1
       mov rcx, rax
       and rcx, 3
       cmp rcx, 0
       je .multiply_rax_int

       and rax, -4
       movsd xmm1, [rax]
       jmp .multiply_rax_done

.multiply_rax_int:
       sar rax, 2
       cvtsi2sd xmm1, rax

.multiply_rax_done:
       mulsd xmm0, xmm1

       call alloc8
       movsd [rax], xmm0
       or rax, 2

.multiply_done:
       ret


divide:

        #
        # LEFT operand (RBX) -> XMM0
        #

        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .divide_rbx_int

        # float
        and rbx, -4
        movsd xmm0, [rbx]
        jmp .divide_rbx_done

.divide_rbx_int:
        sar rbx, 2
        cvtsi2sd xmm0, rbx

.divide_rbx_done:

        #
        # RIGHT operand (RAX) -> XMM1
        #

        mov rcx, rax
        and rcx, 3
        cmp rcx, 0
        je .divide_rax_int

        # float
        and rax, -4
        movsd xmm1, [rax]
        jmp .divide_rax_done

.divide_rax_int:
        sar rax, 2
        cvtsi2sd xmm1, rax

.divide_rax_done:

        #
        # left / right
        #

        divsd xmm0, xmm1

        #
        # Allocate boxed float result
        #

        call alloc8
        movsd [rax], xmm0
        or rax, 2

.divide_done:
        ret



# modulus
modulus:
        # Check tags
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .modulus_type_error

        # integer fast path
        sar rax, 2                  # dividend
        sar rbx, 2                  # divisor

        xchg rax, rbx               # swap registers
        cqo                         # RDX:RAX
        idiv rbx                    # remainder -> RDX

        mov rax, rdx
        sal rax, 2                  # retag integer
        ret


.modulus_type_error:
        mov  rax, offset modulus_type_fail_msg
        or   rax, 1
        ret



#
# POWER
#
power:
        # Check tags
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .power_type_error

        # integer fast path
        sar rax, 2                  # dividend
        sar rbx, 2                  # divisor

        xchg rax, rbx               # swap registers

        # result = 1
        mov rcx, 1

.power_loop:
        test rbx, rbx
        jz .power_done

        test rbx, 1
        jz .power_skip_mul

        imul rcx, rax               # result *= base

.power_skip_mul:

        imul rax, rax               # base *= base
        shr rbx, 1                  # exponent >>= 1
        jmp .power_loop

.power_done:

        mov rax, rcx
        sal rax, 2                  # retag
        ret


.power_type_error:
        mov  rax, offset power_type_fail_msg
        or   rax, 1
        ret




#
# NOT
#
unary_not:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je not_integer

        cmp rcx, 2
        je not_float

        # fall-through to type error
.not_type_error:
        mov rax, offset not_type_fail_msg
        or rax, 1
        ret

not_integer:
       sar rax, 2       # Remove type
       cmp     rax, 0   # Run the NOT
       sete    al
       movzx   rax, al
       sal rax, 2       # Type result as int
       ret

not_float:
        and rax, -4
        movsd xmm0, [rax]    # Get the value in xmm0

        xorpd   xmm1, xmm1   # Run the NOT
        ucomisd xmm0, xmm1
        setnp   dl
        sete    al
        and     al, dl
        movzx   rax, al

        sal rax, 2           # Return as integer
        ret



#
# -
#
unary_neg:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je neg_integer

        cmp rcx, 2
        je neg_float

        # fall-through to type error
.neg_type_error:
        mov rax, offset neg_type_fail_msg
        or rax, 1
        ret

neg_integer:
       sar rax, 2       # Remove type
       neg rax          # negate
       sal rax, 2       # Type result as int
       ret

neg_float:
        and rax, -4
        movsd xmm0, [rax]        # Get the value in xmm0
        mulsd xmm0, [minus_one]  # multiply by -1.  slow.  fine.
        movsd [rax], xmm0        # store the value
        or rax, 2                # restore the type
        ret


#
# +
#
unary_plus:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je unary_plus_integer

        cmp rcx, 2
        je unary_plus_float

        # fall-through to type error
.unary_plus_type_error:
        mov rax, offset unary_plus_type_fail_msg
        or rax, 1
unary_plus_integer:    # nop
unary_plus_float:      # nop
        ret




.section .data.maths,"aw",@progbits

.align 8
modulus_type_fail_msg:
        .ascii "%: expected INTEGER"
        .byte 0

.align 8
power_type_fail_msg:
        .ascii "^: expected INTEGER"
        .byte 0

.align 8
not_type_fail_msg:
        .ascii "!: expected NUMBER"
        .byte 0

.align 8
unary_plus_type_fail_msg:
        .ascii "+: expected NUMBER"
        .byte 0

.align 8
neg_type_fail_msg:
        .ascii "-: expected NUMBER"
        .byte 0

.align 8
minus_one:
        .double -1
