#
# Implementation of our mathematical operations: multiply
#
# This has to cope with different operand types:
#
#    INT   op INT
#    INT   op FLOAT
#    FLOAT op INT
#    FLOAT op FLOAT
#
# In all cases the arguments will be stored in RAX and RBX
#


.section .text.multiply,"ax",@progbits


multiply:
        # Fast int path
        mov rcx, rax
        or rcx, rbx
        and rcx, 3
        cmp rcx, 0
        jne .multiply_float

        # fast path, two ints
        sar rax, 2
        sar rbx, 2

        imul rbx, rax
        mov rax, rbx

        sal rax, 2
        jmp .multiply_done

.multiply_float:

        # Convert operands
        # xmm0 = rbx
        # xmm1 = rax

        # RBX -> xmm0
        mov rcx, rbx
        and rcx, 3
        cmp rcx, 0
        je .multiply_rbx_int

        and rbx, -4
        movsd xmm0, [rbx]
        jmp .multiply_rbx_done

.multiply_rbx_int:
       sar rbx, 2
       cvtsi2sd xmm0, rbx

.multiply_rbx_done:

       # RAX -> xmm1
       mov rcx, rax
       and rcx, 3
       cmp rcx, 0
       je .multiply_rax_int

       and rax, -4
       movsd xmm1, [rax]
       jmp .multiply_rax_done

.multiply_rax_int:
       sar rax, 2
       cvtsi2sd xmm1, rax

.multiply_rax_done:
       mulsd xmm0, xmm1

       call alloc8
       movsd [rax], xmm0
       or rax, 2

.multiply_done:
       ret
