#
# Write a newline to STDOUT.
#

.section .text.newline,"ax",@progbits


#
# NOTE
#######
#
# Zero arguments.  Or arguments are ignored, take
# your choice.
#
newline:
        sub     rsp, 8
        mov     byte ptr [rsp], 10 # "\n"
        mov     eax, 1
        mov     edi, 1
        mov     rsi, rsp
        mov     edx, 1
        syscall
        add     rsp, 8
        ret