#
# Print a thing to STDOUT.
#
# The lower two bits will determine the type of the thing
# to be printed, and dispatch to the correct location.
#

.section .text.print,"ax",@progbits

         #
         # process all variadic arguments and print
         # each one in turn.
         #
         # When functions are called all arguments
         # are pushed on the stack, and RAX is set to
         # their count.
         #
         # We use the RAX/argument count to handle
         # the looping appropriately here.
         #
print:
        push rbp
        mov  rbp, rsp

        mov  rcx, rax        # rcx = argument count
        lea  rbx, [rbp+16]   # rbx points to first argument

.print_loop:
        test rcx, rcx
        jz   .print_done

        mov  rax, [rbx]      # load current argument

        push rbx
        push rcx
        push rbp

        call print_single

        pop rbp
        pop rcx
        pop rbx

        add  rbx, 8          # next stack argument
        dec  rcx
        jmp  .print_loop

.print_done:
        pop  rbp
        ret


        #
        # print a single thing, appropriately.
        #
        # The item to print is stored in RAX,
        # and the two lower bits are used to
        # encode the type of that item.
        #
print_single:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je print_integer

        cmp rcx, 1
        je print_string

        cmp rcx, 2
        je print_float

        cmp rcx, 3
        je print_reserved
        ret


#
# Convert the integer in RAX into ASCII and print it to the console.
#
# Uses the "print_rax_buffer" as temporary storage, and will trash it.
#
print_integer:
        sar rax, 2     # remove tag bits
print_integer_raw:
        mov rbx, 10
        lea rdi, [print_rax_buffer+31]
        mov byte ptr [rdi], 0
        dec rdi

        # Track sign in rcx
        xor rcx, rcx

        # If negative:
        test rax, rax
        jns .convert_loop_start

        neg rax
        mov rcx, 1              # remember number was negative

.convert_loop_start:

        # Special case for 0
        test rax, rax
        jnz .convert_loop

        mov byte ptr [rdi], '0'
        dec rdi
        jmp .after_convert

.convert_loop:
        xor rdx, rdx
        div rbx
        add dl, '0'
        mov [rdi], dl
        dec rdi
        test rax, rax
        jnz .convert_loop

.after_convert:

        # Add minus sign if needed
        test rcx, rcx
        jz .done_sign

        mov byte ptr [rdi], '-'
        dec rdi

.done_sign:

        inc rdi              # rdi = pointer to string start

        # compute length in rdx
        lea rsi, [print_rax_buffer+31]
        mov rdx, rsi
        sub rdx, rdi

        mov rax, 1           # sys_write
        mov rsi, rdi         # buffer
        mov rdi, 1           # stdout
        syscall

        ret


#
# Print the NULL-terminated string pointed to by RAX.
#
print_string:
        and rax, -4  # Undo typing
print_string_raw:
        mov rbx, rax

.loop:
        mov al, [rbx]         # load one byte
        test al, al           # is it zero?
        jz .done

        push rbx
        mov rax, 1            # sys_write
        mov rdi, 1            # stdout
        mov rsi, rbx          # pointer to char
        mov rdx, 1            # length = 1
        syscall
        pop rbx
        inc rbx               # next character
        jmp .loop
.done:
        ret


#
# Printing of a float.
#
print_float:
    and rax, -4      # Remove tag
    mov rax, [rax]   # get value
    movq xmm0, rax   # Load the value

print_double:

    lea rsi, [buffer]

    # -------------------------
    # sign
    # -------------------------

    xorpd xmm1, xmm1
    comisd xmm0, xmm1
    jae .pos

    mov byte ptr [rsi], '-'
    inc rsi

    mov rax, 0x8000000000000000
    movq xmm1, rax
    xorpd xmm0, xmm1

.pos:

    # -------------------------
    # scale
    # -------------------------

    mulsd xmm0, [million]
    cvttsd2si rax, xmm0

    xor rdx, rdx
    mov rcx, 1000000
    div rcx

    mov r8, rdx              # fraction
    push r8                  # save original fraction

    # -------------------------
    # integer
    # -------------------------

    call append_uint

    pop r8                   # restore fraction

    test r8, r8
    je .write

    mov byte ptr [rsi], '.'
    inc rsi

    # -------------------------
    # build digits in temp
    # -------------------------

    lea rdi, [temp + 16]
    mov byte ptr [rdi], 0

    mov rcx, 6              # 6 digits always

.build:
    xor rdx, rdx
    mov rax, r8
    mov rbx, 10
    div rbx

    add dl, '0'
    dec rdi
    mov [rdi], dl

    mov r8, rax
    loop .build

    # -------------------------
    # trim trailing zeros
    # -------------------------

.trim:
    mov al, [rdi + 5]       # last digit position (conceptually)
    cmp al, '0'
    jne .print

    mov byte ptr [rdi + 5], 0
    dec rcx
    jmp .trim

.print:
    # print from rdi forward until null

.print_loop2:
    mov al, [rdi]
    test al, al
    jz .write

    mov [rsi], al
    inc rsi
    inc rdi
    jmp .print_loop2

.write:

    # write

    mov rdx, rsi
    lea rax, [buffer]
    sub rdx, rax

    mov rax, 1
    mov rdi, 1
    lea rsi, [buffer]
    syscall

    ret

# ------------------------------------------------------------
# append_uint
#
# appends unsigned integer in RAX to buffer at RSI
#
# updates RSI
# ------------------------------------------------------------

append_uint:

    lea rdi, [temp + 31]
    mov byte ptr [rdi], 0

    cmp rax, 0
    jne .au_loop

    dec rdi
    mov byte ptr [rdi], '0'
    jmp .au_copy

.au_loop:

    xor rdx, rdx
    mov rcx, 10
    div rcx

    add dl, '0'

    dec rdi
    mov [rdi], dl

    test rax, rax
    jne .au_loop

.au_copy:

    mov al, [rdi]
    test al, al
    je .au_done

    mov [rsi], al
    inc rsi
    inc rdi
    jmp .au_copy

.au_done:
    ret

#
# This type is not yet used for anything
#
print_reserved:
        lea rax, reserved_stub_msg
        or rax, 1
        jmp print_string


.section .data.print,"aw",@progbits

.align 4
reserved_stub_msg:
        .ascii "placeholder for RESERVED print\n"
        .byte 00


# Buffer for printing integers
.align 16
print_rax_buffer:
        .skip 32

million:    .double 1000000.0

.section .bss.print,"aw",@nobits
        .lcomm buffer, 128
        .lcomm temp, 32

