#
# putc - Print the ASCII character specified
# by the given number.
#
#     putc(42);
#     "*" written to STDOUT
#


.section .text.putc,"ax",@progbits

putc:
        push rbp
        mov rbp, rsp
        mov rax, [rbp+16]    # get the integer
        sar rax, 2           # remove type bits
printchar_internal:
        mov byte ptr [printc_buffer], al
        mov     eax, 1
        mov     edi, 1
        mov     rsi, offset printc_buffer
        mov     edx, 1
        syscall
        pop rbp
        ret

.section .data.putc,"aw",@progbits

printc_buffer: .byte 0x00
