#
# putc - Print the ASCII character specified
# by the given number.
#
#     putc(42);
#     "*" written to STDOUT
#


.section .text.putc,"ax",@progbits

putc:
        push rbp
        mov rbp, rsp
        sub rsp, 8           # make space for our putc buffer
                             # [rbp-8] = buffer

        mov rax, [rbp+16]    # get the integer

        mov rcx, rax         # type checking
        and rcx, 3
        cmp rcx, 0
        jne putc_type_fail

        sar rax, 2           # remove type bits

        mov byte ptr [rbp - 8], al  # store in the space we set for the stack
        mov     eax, 1
        mov     edi, 1
        mov     rsi, rbp    # rsi = rbp-8
        sub     rsi ,8      # i.e. the stack location we put the character
        mov     edx, 1
        syscall

.putc_cleanup:
        xor rax, rax  # Return value is zero
        mov rsp, rbp
        pop rbp
        ret

putc_type_fail:
        mov rax, offset putc_type_fail_msg
        or rax, 1
        jmp .putc_cleanup


.section .data.putc,"aw",@progbits

.align 8
putc_type_fail_msg:
        .ascii "putc: expected INTEGER"
        .byte 00
