#
# Concatenate two strings and return a newly allocated result.
#

.section .text.strcat,"ax",@progbits

strcat:
        push rbp
        mov  rbp, rsp

        #
        # Type check first argument
        #
        mov  rdi, [rbp+16]
        mov  rcx, rdi
        and  rcx, 3
        cmp  rcx, 1
        jne  strcat_type_fail

        #
        # Type check second argument
        #
        mov  rsi, [rbp+24]
        mov  rcx, rsi
        and  rcx, 3
        cmp  rcx, 1
        jne  strcat_type_fail

        #
        # Remove typing
        #
        and  rdi, -4         # first string
        and  rsi, -4         # second string

        # Save str1/str2
        mov  r8, rdi
        mov  r9, rsi

        push r8
        push r9

        # Get length of first string
        mov  rdi, r8
        call strlen_raw
        mov  r10, rax

        # get length of second string
        mov  rdi, r9
        call strlen_raw
        mov  r11, rax

        #
        # Allocate len1 + len2 + 1
        #
        mov  rax, r10
        add  rax, r11
        inc  rax

        push rdi
        push rsi

        sal  rax, 2
        push rax        # stack argument
        mov rax, 1      # one argument
        call malloc
        add rsp, 8
        and  rax, -4

        pop  rsi
        pop  rdi

        pop r9
        pop r8

        push rax               # Save allocated memory address

        # copy first string
        mov  rsi, rax
        mov  rdi, r8
        call strcpy_raw

        # go back one, to overwrite the null
        dec  rsi

        # copy the second string
        mov  rdi, r9
        call strcpy_raw

        # Add typing and return allocated pointer
        pop  rax
        or   rax, 1

.strcat_cleanup:
        mov  rsp, rbp
        pop  rbp
        ret

strcat_type_fail:
        mov  rax, offset strcat_type_fail_msg
        or   rax, 1
        jmp  .strcat_cleanup


.section .data.strcat,"aw",@progbits

.align 8
strcat_type_fail_msg:
        .ascii "strcat: expected STRING"
        .byte 0
