#
# Compare strings for equality.
#
# Return zero if equal, otherwise the ASCII difference
# of the first character which differs.
#

.section .text.strcmp,"ax",@progbits

strcmp:
        push rbp
        mov rbp, rsp

        mov rdi, [rbp+16]    # Get the string

        mov rcx, rdi         # type checking
        and rcx, 3
        cmp rcx, 1
        jne strcmp_type_fail

        and rdi, -4          # Remove typing

        mov rsi, [rbp+24]    # Get the string

        mov rcx, rsi         # type checking
        and rcx, 3
        cmp rcx, 1
        jne strcmp_type_fail

        and rsi, -4          # Remove typing

        xor rax, rax
.strcmp_next_char:
        mov al, [rdi]
        cmp al, [rsi]
        jne .strcmp_diff
        test al, al
        je .strcmp_done
        inc rdi
        inc rsi
        jmp .strcmp_next_char
.strcmp_diff:
        movzx rdx, byte ptr [rsi]
        sub al, dl
.strcmp_done:
        movsx rax, al       # Truncate, but keep the sign
        sal rax, 2          # set type
.strcmp_cleanup:
        mov rsp, rbp
        pop rbp
        ret

strcmp_type_fail:
        mov rax, offset strcmp_type_fail_msg
        or rax, 1
        jmp .strcmp_cleanup



.section .data.strcmp,"aw",@progbits

.align 4
strcmp_type_fail_msg:
        .ascii "strcmp: expected STRING"
        .byte 00