#
# Return the length of the given string
#

.section .text.strlen,"ax",@progbits

strlen:
        push rbp
        mov rbp, rsp

        mov rdi, [rbp+16]    # Get the string
        and rdi, -4          # Remove typing

        xor rax, rax
.strlen_next_char:
        cmp byte ptr [rdi + rax], 0
        je .strlen_done
        inc rax
        jmp .strlen_next_char
.strlen_done:
        sal rax, 2          # Add typing
        mov rsp, rbp
        pop rbp
        ret
