#
# Type will return a string which describes
# the type of a variable.
#

.section .text.type,"ax",@progbits

type:
        push rbp
        mov rbp, rsp

        mov rax, [rbp+16]    # Get the argument

        # Mask off the lower two bits, to get the type info
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je type_is_int

        cmp rcx, 1
        je type_is_string

        cmp rcx, 2
        je type_is_float

        cmp rcx, 3
        je type_is_reserved

type_cleanup:
        mov rsp, rbp
        pop rbp
        ret


type_is_int:
        mov rax, offset type_is_int_str
        or rax, 1
        jmp type_cleanup

type_is_string:
        mov rax, offset type_is_string_str
        or rax, 1
        jmp type_cleanup

type_is_float:
        mov rax, offset type_is_float_str
        or rax, 1
        jmp type_cleanup

type_is_reserved:
        mov rax, offset type_is_reserved_str
        or rax, 1
        jmp type_cleanup



.section .data.type,"aw",@progbits

.align 8
type_is_int_str:
        .ascii "INTEGER"
        .byte 00

.align 8
type_is_float_str:
        .ascii "FLOAT"
        .byte 00

.align 8
type_is_string_str:
        .ascii "STRING"
        .byte 00

.align 8
type_is_reserved_str:
        .ascii "RESERVED"
        .byte 00

