.section .text.unary_neg,"ax",@progbits

#
# -
#
unary_neg:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je neg_integer

        cmp rcx, 2
        je neg_float

        # fall-through to type error
.neg_type_error:
        mov rax, offset neg_type_fail_msg
        or rax, 1
        ret

neg_integer:
       sar rax, 2       # Remove type
       neg rax          # negate
       sal rax, 2       # Type result as int
       ret

neg_float:
        and rax, -4
        movsd xmm0, [rax]        # Get the value in xmm0
        mulsd xmm0, [minus_one]  # multiply by -1.  slow.  fine.
        movsd [rax], xmm0        # store the value
        or rax, 2                # restore the type
        ret



.section .data.unary_neg,"aw",@progbits


.align 8
neg_type_fail_msg:
        .ascii "-: expected NUMBER"
        .byte 0

.align 8
minus_one:
        .double -1
