.section .text.unary_not,"ax",@progbits

#
# NOT
#
unary_not:
        mov rcx, rax
        and rcx, 3

        cmp rcx, 0
        je not_integer

        cmp rcx, 2
        je not_float

        # fall-through to type error
.not_type_error:
        mov rax, offset not_type_fail_msg
        or rax, 1
        ret

not_integer:
       sar rax, 2       # Remove type
       cmp     rax, 0   # Run the NOT
       sete    al
       movzx   rax, al
       sal rax, 2       # Type result as int
       ret

not_float:
        and rax, -4
        movsd xmm0, [rax]    # Get the value in xmm0

        xorpd   xmm1, xmm1   # Run the NOT
        ucomisd xmm0, xmm1
        setnp   dl
        sete    al
        and     al, dl
        movzx   rax, al

        sal rax, 2           # Return as integer
        ret



.section .data.unary_not,"aw",@progbits


.align 8
not_type_fail_msg:
        .ascii "!: expected NUMBER"
        .byte 0
