        #
        # Exit explicitly, just in case the program was missing a
        # terminating RETURN statement.
        #
        xor rax, rax
        jmp exit


#####
#####  Standard Library
#####

{{template "stdlib" .}}


#####
#####  Stored pointers to command line arguments, environment, etc.
#####

.section .bss
.align 8
initial_esp:
        .quad 0
envp_ptr:
        .quad 0
argument_count:
        .quad 0
argument_base:
        .quad 0



#####
#####  Setup and handler for a CTRL-C/signal detection.
#####

#
.section .text

# Function called on signal
sigint_handler:

       # call the optional "ctrl_c" user_function, if present.
.ifdef ctrl_c
       call ctrl_c
.endif

       # call the optional "at_exit" user_function, if present.
.ifdef at_exit
       call at_exit
.endif

       mov rax, 60  # SYS_exit
       xor rdi, rdi
       syscall

sigint_restorer:
       mov rax, 15  # SYS_rt_sigreturn
       syscall

#
# Linux x86-64 sigaction flags
#
.equ SA_RESTORER, 0x04000000

#
# struct sigaction
#
# struct sigaction {
#     void (*sa_handler)(int);
#     unsigned long sa_flags;
#     void (*sa_restorer)(void);
#     sigset_t sa_mask;
# };
#
.section .data

.align 8
sigaction_struct:
    .quad sigint_handler     # sa_handler
    .quad SA_RESTORER        # sa_flags
    .quad sigint_restorer    # sa_restorer

    # sigset_t (128 bits / 16 bytes minimum)
    .quad 0
    .quad 0



{{ if .StringTable }}

#####
##### Storage for strings
#####
.section .data

{{range .StringTable }}
        .align 4
{{.Identifier }}:
        .byte {{.Encoded}}, 0x00
{{end}}
{{end}}

{{ if .FloatTable }}

#####
##### Storage for floats
#####
.section .data

{{range .FloatTable }}
{{.Identifier }}:  .double {{.Value}}
{{end}}
{{end}}

{{if .Globals}}

#####
##### Storage for global variables
#####
.section .data

{{range .Globals }}
{{.Label}}: .quad 0
{{end}}
{{end}}
{{if .Data}}

#####
##### User-Defined "data { ... }" blocks
#####

{{range .Data}}
{{.}}
{{end}}
{{end}}
