        #
        # Exit explicitly, just in case the program was missing a
        # terminating RETURN statement.
        #
        xor rax, rax
        jmp exit_with_rax


#####
#####  Standard Library
#####

{{template "stdlib" .}}


#####
#####  Copied version of command-line arguments
#####

.section .bss
command_line_arguments:
        .quad 0

{{ if .StringTable }}

#####
##### Storage for strings
#####
.section .data

{{range .StringTable }}
        .align 4
{{.Identifier }}:
        .byte {{.Encoded}}, 0x00
{{end}}
{{end}}

{{ if .FloatTable }}

#####
##### Storage for floats
#####
.section .data

{{range .FloatTable }}
{{.Identifier }}:  .double {{.Value}}
{{end}}
{{end}}

{{if .Globals}}

#####
##### Storage for global variables
#####
.section .data

{{range .Globals }}
{{.Label}}: .quad 0
{{end}}
{{end}}
{{if .Data}}

#####
##### User-Defined "data { ... }" blocks
#####

{{range .Data}}
{{.}}
{{end}}
{{end}}
