        # Define our entry-point
        .global _start

        #
        # Code
        #
        .section .text
_start:

        #
        # Save initial ESP away because any push/pops will screw
        # our maths up and make it hard to reason about things.
        #
        mov [rip + initial_esp], rsp

        #
        # Save the count of arguments away.
        #
        mov rsi, rsp
        mov rax, [rsi]
        mov [rip + argument_count], rax

        #
        # argv starts immediately after argc
        #
        lea rbx, [rsi + 8]
        mov [rip + argument_base], rbx

        #
        # envp starts after:
        #   argc
        #   argv pointers
        #   terminating NULL
        #
        lea rcx, [rbx + rax*8 + 8]
        mov [rip + envp_ptr], rcx

        #
        # Setup our initial heap allocator
        #
        call init_heap

        #
        # Setup a signal handler, so Ctrl-c
        # routes to a known function.
        #
        mov rax, 13          # SYS_rt_sigaction
        mov rdi, 2           # SIGINT
        lea rsi, [rip + sigaction_struct_sigint]
        xor rdx, rdx
        mov r10, 8
        syscall
        test rax, rax
        js sigint_fail

        # install SIGFPE handler
        mov rax, 13
        mov rdi, 8          # SIGFPE
        lea rsi, [rip + sigaction_struct_sigfpe]
        xor rdx, rdx
        mov r10, 8
        syscall
        js sigint_fail

        #
        # Clear the divide by zero mask.
        #
        # This ensures that a floating-point division by
        # zero will fire SIGFPE, rather than producing
        # something like +Inf
        #
        stmxcsr [mxcsr]
        and dword ptr [mxcsr], ~(1 << 9)
        ldmxcsr [mxcsr]
