        # Define our entry-point
        .global _start

        #
        # Code
        #
        .section .text
_start:

        #
        # Save initial ESP away because any push/pops will screw
        # our maths up and make it hard to reason about things.
        #
        mov [rip + initial_esp], rsp

        #
        # argc
        #
        mov rsi, rsp
        mov rax, [rsi]
        mov [rip + argument_count], rax

        #
        # argv starts immediately after argc
        #
        lea rbx, [rsi + 8]
        mov [rip + argument_base], rbx

        #
        # envp starts after:
        #   argc
        #   argv pointers
        #   terminating NULL
        #
        lea rcx, [rbx + rax*8 + 8]
        mov [envp_ptr], rcx

        #
        # Setup our initial heap allocator
        #
        call init_heap
