        # Define our entry-point
        .global _start

        # Declare our library-functions
        .global exit_with_status
        .global newline
        .global print
        .global print_number
        .global print_string
        .global type

        #
        # Code
        #
        .section .text
_start:
